---
import type { MenuItemDefinition } from '../utils/menu-item-definition';
import type { LeafMenuItemSettings } from '../utils/nav-bar-settings';

export interface Props {
    settings: LeafMenuItemSettings;
    menuItemDefinition: MenuItemDefinition;
};

const { settings, menuItemDefinition } = Astro.props;
---

{
    <div
        class="leaf-menu-item"
        title={menuItemDefinition.title}
        data-data={menuItemDefinition.data}
        data-url={menuItemDefinition.url}
    >
        {menuItemDefinition.text}
    </div>
}


<style define:vars={{
    menuItemTextDecoration: settings.menuItemTextDecoration,
    menuItemColor: settings.menuItemColor,
    menuItemMargin: settings.menuItemMargin,
    menuItemPadding: settings.menuItemPadding,
    menuItemHoverBackgroundColor: settings.menuItemHoverBackgroundColor,
}}>
    .leaf-menu-item {
        color: var(--menuItemColor, #021426);
        display: block;
        margin: var(--menuItemMargin, 0);
        padding: var(--menuItemPadding, 0);
        text-decoration: var(--menuItemTextDecoration, none);
        cursor: pointer;

        &:hover {
            background-color: var(--menuItemHoverBackgroundColor, #97c7e7);
        }
    }
</style>
